.service-header {
    font-size: 2rem; /* 텍스트 크기 조정 */
    margin-bottom: 60px; /* 텍스트와 아래 요소 간의 간격 조정 */
    text-align: center; /* 중앙 정렬 */
    padding-top: 80px; /* 상단 여백 추가 */
}

.service-content {
    padding: 5rem 2rem;
    display: flex; /* 중앙 정렬을 위한 Flexbox 사용 */
    justify-content: center; /* 콘텐츠 중앙 정렬 */
}

.content-wrapper {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin: 20px 0; /* 상하 여백 추가 */
    margin-left: 80px;
}

.service-image {
    width: 400px;
    height: 400px;
    object-fit: cover; /* 이미지 비율 유지 */
    margin-right: 20px; /* 이미지와 텍스트 간의 간격 */
}

.text-content {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
}

.text-content p {
    font-size: 1.2rem; /* 텍스트 크기 증가 */
    margin: 5px 0; /* 각 문단의 상하 여백 */
}