.service-header {
    font-size: 2rem; /* 텍스트 크기 조정 */
    margin-bottom: 60px; /* 텍스트와 아래 요소 간의 간격 조정 */
    text-align: center; /* 중앙 정렬 */
    padding-top: 80px; /* 상단 여백 추가 */
}

.content-wrapper {
    display: flex; /* 수평 정렬 */
    align-items: flex-start; /* 상단 정렬 */
    margin: 20px; /* 여백 추가 */
    margin-left: 80px;
}

.image-column {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    margin-right: 20px; /* 이미지와 텍스트 간의 간격 */
}

.service-image {
    width: 450px; /* 이미지 너비 */
    height: 300px; /* 이미지 높이 */
    object-fit: cover; /* 비율 유지 */
    margin-bottom: 10px; /* 이미지 간의 간격 */
}

.text-column {
    flex-grow: 1; /* 텍스트 열이 남은 공간을 차지하도록 설정 */
}

.text-column p {
    font-size: 1.2rem; /* 텍스트 크기 증가 */
    margin: 5px 0; /* 각 문단의 상하 여백 */
}