.service-header {
    font-size: 2rem; /* 텍스트 크기 조정 */
    margin-bottom: 60px; /* 텍스트와 아래 요소 간의 간격 조정 */
    text-align: center; /* 중앙 정렬 */
    padding-top: 80px; /* 상단 여백 추가 */
}

.content-wrapper {
    align-items: flex-start; /* 상단 정렬 */
    margin: 20px; /* 여백 추가 */
    margin-left: 80px;
}

.text-column {
    margin-bottom: 60px; /* 이미지와 텍스트 간의 간격 */
}

.image-column {
    display: flex; /* 수평 정렬 */
    flex-direction: row; /* 수평 배열 */
}

.service-image {
    width: 500px; /* 이미지 너비 */
    height: 400px; /* 이미지 높이 */
    object-fit: cover; /* 비율 유지 */
    margin-left: 10px; /* 이미지 간의 간격 */
}

.text-column p {
    font-size: 1.2rem; /* 텍스트 크기 증가 */
    margin: 5px 0; /* 각 문단의 상하 여백 */
}