* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 전체 높이에 맞춰 조정 */
    font-family: 'Gowun Dodum', sans-serif;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: 0; /* 배경이 콘텐츠 뒤에 위치하도록 설정 */
    }

    


  /* 네비게이션 바 스타일 */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar ul {
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0;      /* 패딩 제거 */
  margin: 0;       /* 마진 제거 */
}

.navbar a {
  font-weight: bold; 
  font-size: 1.2rem; 
  color: #4B4B4B; 
  margin-right: 2rem; 
}

.dropdown {
  position: relative; /* 드롭다운 위치 설정 */
}

.dropdown-content {
  display: none; /* 기본적으로 드롭다운 숨김 */
  position: absolute; /* 드롭다운을 아래에 위치 */
  top: 100%; /* 부모 요소 아래에 위치 */
  left: 0;
  background-color: white; /* 드롭다운 배경색 */
  border: 1px solid #ccc; /* 테두리 추가 */
  font-size: 0.8rem; /* 드롭다운 항목 폰트 크기 조정 */
  min-width: 250px; /* 드롭다운 최소 너비 설정 */
  z-index: 999; /* 네비게이션 바 위에 표시 */
}

.dropdown:hover .dropdown-content {
  display: block; /* 드롭다운 호버 시 표시 */
}

.dropdown-content li {
  padding: 0.5rem 1rem; /* 드롭다운 항목 패딩 */
}

.dropdown-content li a {
  color: #4B4B4B; /* 드롭다운 항목의 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

.dropdown-content li a:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

/* 로고 스타일 */
.logo a {
  color: #333; /* 진회색 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 1.8rem;
  display: inline-block; /* 애니메이션을 적용하기 위해 inline-block으로 설정 */
  animation: rotate 20s linear infinite; /* 20초 간격으로 회전.정지 애니메이션 추가 */
}

.logo a:hover {
  color: #007bff; /* 호버 시 색상 변경 */
}

/* 애니메이션 정의 */
@keyframes rotate {
  0% {
    transform: rotateY(0deg); /* 원래 위치 */
  }
  50% {
    transform: rotateY(360deg); /* 10초 동안 한바퀴 회전 */
  }
  50.01% {
    transform: rotateY(360deg); /* 10초 동안 정지 */
  }
  100% {
    transform: rotateY(360deg); /* 원래 상태로 돌아옴 */
  }
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #007bff;
}
  
  /* 히어로 섹션 스타일 */
  .hero {
    height: 100vh;
    background-image: url("img/img_intro1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* 자식 요소가 부모를 넘지 않도록 설정 */
}

/* 로딩 애니메이션 스타일 */
.load {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -40%);
  width: 110px; /* 로딩 애니메이션 크기 */
  height: 110px;
  animation: fadeOut 15s forwards; /* 10초 후 사라짐 */
}

.load hr {
  border: 0;
  margin: 0;
  width: 45%;
  height: 45%;
  position: absolute;
  border-radius: 50%;
  animation: spin 6s ease infinite; /* 애니메이션 적용 */
}

.load :nth-child(1) {
  background-color: #19A68C;
  animation-delay: -5s; /* 애니메이션 지연 */
}

.load :nth-child(2) {
  background-color: #F63D3A;
  animation-delay: -4s; /* 애니메이션 지연 */
}

.load :nth-child(3) {
  background-color: #FDA543;
  animation-delay: -3s; /* 애니메이션 지연 */
}

.load :nth-child(4) {
  background-color: #A8D8B9;
  animation-delay: -2s; /* 애니메이션 지연 */
}

.load :nth-child(5) {
  background-color: #FFB3BA;
  animation-delay: -1s; /* 애니메이션 지연 */
}

.load :nth-child(6) {
  background-color: #193B48;
}

@keyframes spin {
  0%, 100% {
      transform: translate(0, 0);
  }
  16.67% {
      transform: translate(100px, 0);
  }
  33.33% {
      transform: translate(166.6px, 100px);
  }
  50% {
      transform: translate(100px, 200px);
  }
  66.67% {
      transform: translate(0, 200px);
  }
  83.33% {
      transform: translate(-66.6px, 100px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* 완전 불투명 */
  }
  100% {
    opacity: 0; /* 완전 투명 */
  }
}

.hero:hover {
  opacity: 1; /* 마우스 호버 시 불투명도 증가 */
}

.hero h1 {
  color: white;
  font-size: 10rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); /* 추가된 그림자 효과 */
  position: relative; /* 위치 설정 */
  transform: translateX(-100%); /* 초기 위치를 화면 밖으로 설정 */
  opacity: 0; /* 초기 불투명도 설정 */
  animation: slideIn 1.5s forwards, reflect 2s infinite; /* 슬라이드 인 애니메이션과 빛 반사 애니메이션 */
  transition: transform 0.3s ease, opacity 0.3s ease; /* 확대 효과 */
}

@keyframes slideIn {
  to {
    transform: translate(0, -60%); /* 중앙으로 이동 */
    opacity: 1; /* 불투명도 증가 */
  }
}

.hero h1:hover {
  transform: scale(1.3); /* 마우스 호버 시 확대 */
}

.hero h1:not(:hover) {
  pointer-events: none; /* 슬라이드 인 중에는 호버 이벤트를 무시 */
}

.hero h1:hover:not([style*='translateX(-100%)']) {
  pointer-events: auto; /* 슬라이드 인 완료 후에만 호버 이벤트를 허용 */
}

@keyframes reflect {
  0% {
    text-shadow: 0 0 rgba(255, 255, 255, 0), 2px 2px 4px rgba(0, 0, 0, 0.5); /* 초기 그림자 */
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.7); /* 빛 반사 효과와 그림자 */
  }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0), 2px 2px 4px rgba(0, 0, 0, 0.5); /* 원래 그림자 */
  }
}
  
  /* 기사단 소개 섹션 스타일 */
  .intro {
    padding: 8rem 2rem;
  }
  
  .intro-content {
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    padding: 2rem;
    color: white;
    transform: translateX(-100%); /* 초기 상태: 왼쪽으로 숨김 */
    animation: slide-in 1s forwards; /* 애니메이션 적용 */
    opacity: 0; /* 초기 상태: 불투명도 0 */
  }

  @keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

  .intro h2, .intro-text, 
  .intro-text1, .intro-text2 {
    font-size: 1.5rem;
    margin-bottom: 2.7%;
    text-indent: 20px; /* 들여쓰기 크기(px) */
    opacity: 0; /* 초기 상태: 불투명도 0 */
    transform: translateY(20px); /* 초기 상태: 아래로 숨김 */
    animation: slide-text 1s forwards; /* 애니메이션 적용 */
    animation-delay: 1s; /* 1초 지연 */
  }

  @keyframes slide-text {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  .intro-text2 {
    font-weight: bold;
    text-align: center;
  }

  .intro-footer {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 1%; /* 오른쪽 여백 조정 */
  }


  
  /* 구성원 섹션 스타일 */
  .members {
    padding: 5rem 2rem;
  }
  
  .members-grid {
    display: flex; /* 그리드에서 플렉스박스로 변경 */
    flex-direction: column; /* 세로 방향으로 나열 */
    gap: 13rem; /* 카드 사이의 간격 */
}
  
  .member-card {
    display: flex; /* 플렉스박스 사용 */
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6rem 5rem;
  }
  
  .member-card img {
    width: 20%;
    height: 20%;
    object-fit: cover;
  }
  
  .member-info {
    padding: 1rem;
  }

  .field, .greeting {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .text {
      color: #333333; /* 진회색 */
      font-size: 18px;
  }

  .career, .career1 {
      color: #333333; /* 진회색 */
      font-size: 18px;
      font-weight: bold; /* 볼드 처리 */
  }

  .career1 {
    text-indent: 50px;
  }
  
  /* 업무영역 섹션 스타일 */
  .services {
    padding: 5rem 2rem;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 설정 */
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .service-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem 1rem;
  }

  .service-card img {
    width: 40%; /* 이미지 너비를 80%로 설정 (원하는 비율로 조정 가능) */
    border-radius: 10px; /* 모서리 라운드 처리 */
    margin-bottom: 1rem; /* 이미지와 텍스트 사이의 간격 추가 */
}
  
  .check-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .check-btn:hover {
    background: #0056b3;
  }
  
  
  /* 상담 섹션 스타일 */
  .contact {
    padding: 5rem 5rem;
  }

  .contact h2 {
    margin-bottom: 3rem;
  }

  
  /* container간 간격 */
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14rem;
    margin-top: 1.5rem;
  }

  .contact-info {
    background-color: rgba(128, 128, 128, 0.1); /* 배경색과 투명도 */
    padding: 2rem;
    border-radius: 8px; /* 모서리 둥글게 */
  }

  .contact-info p {
    font-size: 20px;
    margin-bottom: 1.05rem; /* 여백 늘림 */
    text-align: center; /* 가운데 정렬 */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .contact-form textarea {
    height: 170px; /* 높이 조정 */
}
  
  .contact-form button {
    background: rgba(128, 128, 128, 0.6);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 부드러운 변환 효과 추가 */
  }
  .contact-form button:hover {
    transform: scale(1.05); /* 호버 시 1.1배 확대 */
}

.location {
  font-size: 1.2rem;
}

.loc01, .loc02, .loc03, .loc04,
.loc-text1, .loc-text2, .loc-text3, .loc-text4 {
  opacity: 0; /* 초기 상태: 불투명도 0 */
  transform: translateX(100%); /* 초기 상태: 오른쪽으로 숨김 */
  animation: slide-in 0.5s forwards; /* 애니메이션 적용 */
}

@keyframes slide-in {
  to {
      opacity: 1; /* 불투명도 1로 변경 */
      transform: translateX(0); /* 오른쪽에서 들어오는 효과 */
  }
}

.loc01 {
  animation-delay: 0.5s; /* 즉시 애니메이션 시작 */
}

.loc-text1 {
  animation-delay: 0.5s; /* 즉시 애니메이션 시작 */
}

.loc02 {
  animation-delay: 1s; /* 0.5초 후 애니메이션 시작 */
}

.loc-text2 {
  animation-delay: 1s; /* 0.5초 후 애니메이션 시작 */
}

.loc03 {
  animation-delay: 1.5s; /* 1초 후 애니메이션 시작 */
}

.loc-text3 {
  animation-delay: 1.5s; /* 1초 후 애니메이션 시작 */
}

.loc04 {
  animation-delay: 2s; /* 1초 후 애니메이션 시작 */
}

.loc-text4 {
  animation-delay: 2s; /* 1초 후 애니메이션 시작 */
}
  
  /* 맨 위로 가기 버튼 스타일 
  .top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }
  
  .top-btn.visible {
    display: block;
  } */
  
  /* 푸터 스타일 */
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    /*clear: both; /* float가 적용된 경우 푸터를 아래로 밀어줍니다. */
    /*position: relative; /* 필요에 따라 수정 */
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .contact-container {
      grid-template-columns: 1fr;
    }
  
    .hero h1 {
      font-size: 2.5rem;
    }
  }
  